<div>
  <div class="container-fluid nav-bar navContain">
    <div class="container innerNavContain">
      <div class="col-sm-4 leftNavContain">
        <div class="insta-feed">Instagram feed</div>
        <button class="btn btn-default home-button" ui-sref="landing">New Route</button> 
      </div>
      <div class="col-sm-8 map-title">Map</div>
    </div>
  </div>
  <div class="container contentContain">
    <div class="col-sm-4 insta-pics" id="left">
      <div class="scrollContain">
        <div ui-view>
        </div>
      </div>
    </div>
    <div class="col-sm-8 gmap" id="right">
      <div id="map-canvas" style='width: 800px; height: 600px'></div>
    </div>
  </div>
</div>